{% extends "admin/change_list.html" %}
{% load humanize %}
{% load metrics_tags %}


{% block content_title %}
    <h1> Check-In Metrics </h1>
{% endblock %}
{% block result_list %}
   <div class="results">
    <table>

    <thead>
      <tr>
        <th>
          <div class=”text”>
            <a href=”#”>Category</a>
          </div>
        </th>
        <th>
          <div class=”text”>
            <a href=”#”>Total</a>
          </div>
        </th>
        <th>
          <div class=”text”>
            <a href=”#”>
              <strong>% of all Check Ins</strong>
            </a>
          </div>
        </th>
      </tr>
    </thead>
    <tbody>
      {% for row in metrics %}
      <tr class=”{% cycle "row1" "row2" %}”>
        <td> {{ row.purpose__name }} </td>
        <td> {{ row.total | intcomma }} </td>
          <td>
              <strong>
              {{ row.total | default:0 | percentof:metrics_total.total }}
              </strong>
          </td>
      </tr>
      {% endfor %}
    </tbody>

    <tr style=”font-weight:bold; border-top:2px solid #DDDDDD;”>
            <td> Total </td>
            <td> {{ metrics_total.total | intcomma }} </td>
            <td> 100% </td>
        </tr>

  </table>
</div>
{% endblock %}
{% block pagination %}{% endblock %}